:root {
    --color-body: #fff;
    --color-link: #5c97f9;
    --color-nav-visited: #eee;
}

body {
    background: var(--color-body);
    margin: 0;
    overflow-x: hidden;
}

.container {
    /* max-width: 1000px; */
    display: grid;
    width: 80%;
    margin: 0 auto;
}

header .container {
    grid-template-columns: 1fr 1fr;
}

.logo {
    margin-top: 16px;
}

nav ul {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    list-style: none
}

.bg-hook {
    background-image: url('../img/slice1.png');
    height: 450px;
}
.hero {
    color: #fff;
    margin-top: 100px;
}

.hero__title {
    font-size: 2.5rem;
}

.hero__text {
    font-size: 1.2rem;
}

.about {
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem 0;
}

.courses {
    padding: 6rem 0;
}

.courses .container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.courses .container h2 {
    grid-column: 1/-1;
    font-size: 2rem;
    text-align: center;
}

.course__item {
    height: 100px;
    width: 100%;
    background: #eee;
}

.cta {
    padding: 5rem 0;
}

.cta .container {
    grid-template-columns: repeat(8, 1fr);
    margin-top: 7.5rem;
    grid-gap: 20px;
}

.cta__title {
    font-size: 2rem;
    padding-top: 0;
}

.cta__video {
    grid-column: 2/4;
}

.cta__content {
    display: grid;
    grid-column: 4/8;
    grid-template-rows: 3fr;
    grid-gap: 20px;
}

.cta__text {
    font-size: 1.2rem;
}

.cta__btn {
    background: var(--color-link);
    border-radius: 5px;
    color: var(--color-body);
    font-size: 1.5rem;
    grid-gap: 70px;
    padding: 1rem;
    text-align: center;
}

.experts {
    padding: 6rem 0;
}

.experts .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.experts .container h2 {
    grid-column: 2/-1;
}

.testimonial {
    padding: 5rem 0;
}

.testimonial .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* justify-content: center; */
}

.testimonial .container h2 {
    grid-column: 3/6;
    font-size: 3rem;
    /* justify-self: center; */
}

.testimonial__text {
    grid-column: 2/6;
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

.testimonial__items {
    display: grid;
    grid-column: 1/7;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.testimonial__items picture {
    /* height: 50px; */
    border-radius: 50%;
    background: #eee;
}

.testimonial__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.testimonial__item h3 {
    margin-bottom: 0;
}

.upcoming-courses {
    padding: 5rem 0;
}

.upcoming-courses__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.last-cta {
    padding: 5rem 0;
    background: #eee;
}

.last-cta .container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr;
    grid-gap: 50px 0px;
}

.last-cta__message {
    grid-column: 2/5;
    font-size: 2rem;
    text-align: center;
}

.last-cta__btn {
    background: var(--color-link);
    font-size: 2rem;
    justify-self: center;
    padding: 20px;
    border: none;
    border-radius: 5px;
    grid-column: 2/5;
}

.last-cta__btn a {
    color: var(--color-body);
    text-decoration: none;
}